
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "ChiTietNhap"))
{
<div>
    <label>Mã Phiếu Nhập</label>
    <input type="text" name="MaPhieuNhap" />
</div>
<div>
    <label>Mã Hàng Hóa</label>
    <input type="text" name="MaHangHoa" />
</div>
<div>
    <label>Số lượng</label>
    <input type="text" name="SoLuong" />
</div>
<div>
    <label>Ngày nhập</label>
    <input type="text" name="NgayNhap"/>
</div>
<div>
    <label>Mã nhà cung cấp</label>
    <input type="text" name="MaNCC"/>
</div>
<div>
    <button type="submit">Submit</button>
</div>
}

