
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "KhachHang"))
{
    <div>
        <label>Mã khách hàng</label>
        <input type="text" name="MaKhachHang" />
    </div>
    <div>
        <label>Tên khách hàng</label>
        <input type="text" name="TenKhachHang" />
    </div>
    <div>
        <label>Số điện thoại</label>
        <input type="text" name="SoDienThoai" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
}
